%contenedor {

    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    box-sizing: border-box;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;

}

%hijo {

    background-color: rgba(255,255,255,0.8);
        border: 1px solid rgba(0,0,0,0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;

}

@mixin justifyContent($valor) {
    justify-content: $valor;    
}

.contenedorJustifyContentEnd {

    display: grid;
    @extend %contenedor;
    @include justifyContent(end);

    &__elementoHijo {

        @extend %hijo;

    }

}